
body{

	width: 100%;
	background: rgb(58,90,115);
}

.container{
	height: 100%;
	padding-top: 1.5%;
	width: 70%;
	margin-left: 15%;
	background: white;
}

.row-padding{
	padding-top: 10px; 		
}

.wrap{
	margin: 0 auto;
}
._md-nav-bar-list{
	padding-left: 1%;
}
